-r pip_requirements.txt
psycopg2
gunicorn
pysolr
python-memcached
dnspython
launchpadlib

#Uncomment this if you want to index things in solr.
#pyquery==1.0
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
